/* Double the size of the image */
.anime-image img {
    transform: scale(1);
    width: 100%; /* Ensure the image scales properly */
    height: auto;
}

/* Genre badge styling */
.genre {
    background-color: #333;
    color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.875rem;
    margin: 4px; /* Add some margin for spacing */
    display: inline-block; /* Ensure they are inline elements */
}

.character {
    margin-bottom: 30px;
}