.navbar-outline {
    border-bottom: 0.2px solid #ffffff33; /* Adjust the color and width as needed */
}

.bottom-outline {
    border-bottom: 0.2px solid #ffffff33;
}

.half {
    width: 50%;
}

.half-75 {
    width: 75%;
}

#success-alert {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Ensure it appears above other elements */
    margin-top: 100px;
}

.large-input {
    width: 100%;
}
